SELECT *
  FROM [Test].[dbo].[Order]

  SELECT *
  FROM [Test].[dbo].Deliveries


-------------------------------------------------------
select *   FROM [Test].[cap].[Published]

SELECT *
  FROM [Test].[cap].[Received]


--    truncate table [Test].[cap].[Published]
--    truncate table [Test].[cap].[Received]


------------------------------------------------------
select *   FROM [Test].[cap_d].[Published]

SELECT *
  FROM [Test].[cap_d].[Received]


--    truncate table [Test].[cap_d].[Published]
--    truncate table [Test].[cap_d].[Received]